<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"></head>
<body>

    <h1>{{pageTitle}}</h1>

    <p>Some text</p>

    <a href="/home">home</a>

    <footer>
        <p>Copyright {{currentYear}}</p>
    </footer>

</body>
</html>