<!DOCTYPE html>
<html>
<head>
    <title>Post Test</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"></head>
<body>

    <p>Some text</p>

    <p><a href="/">Index</a></p>

    <form class="form" method="POST" action="/posttest">

      <input class="input1" name="test">
      <input type="submit" name="submit">

    </form>

</body>
</html>
